@charset "UTF-8";
#targetedScreen,
#screenInformation,
#viewportSizes {
  display: none;
}

* {
  font-family: helvetica;
}

#picture img,
#logo .item img {
  border-radius: 10px;
  -webkit-box-shadow: 10px 5px 10px #EAEAEA;
          box-shadow: 10px 5px 10px #EAEAEA;
}
#picture:hover img,
#logo .item:hover img {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

/* --------------------------------------------------------------------------------------------- */
#name strong {
  font-size: 36px;
  font-weight: 600;
  text-shadow: 10px 5px 10px #EAEAEA;
}

#profession strong {
  font-size: 28px;
  font-weight: 600;
  text-shadow: 10px 5px 10px #EAEAEA;
}

#sought-position,
#sought-position strong {
  font-size: 22px;
  font-weight: 600;
}

#availability {
  font-size: 18px;
  font-style: italic;
}
#availability::before {
  content: "(";
  white-space: pre;
  margin-right: -4px;
}
#availability::after {
  content: ")";
  white-space: pre;
  margin-left: -4px;
}

/* --------------------------------------------------------------------------------------------- */
/* Settings ------------------------------------------------------------------------------------ */
/* --------------------------------------------------------------------------------------------- */
.button {
  margin: auto;
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #A0A0A0;
  text-shadow: 2px 1px 2px black;
  -webkit-box-shadow: 10px 5px 10px #EAEAEA;
          box-shadow: 10px 5px 10px #EAEAEA;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
}

/* --------------------------------------------------------------------------------------------- */
/* content ------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
header {
  display: block;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #A0A0A0;
  text-shadow: 2px 1px 2px black;
  border-radius: 10px;
  -webkit-box-shadow: 10px 5px 10px #EAEAEA;
          box-shadow: 10px 5px 10px #EAEAEA;
}

section + section {
  margin-top: 25px;
}

/* --------------------------------------------------------------------------------------------- */
#profile > .nested > #contact > .nested #address-key {
  grid-area: address-key;
}
#profile > .nested > #contact > .nested #address-content {
  grid-area: address-content;
}
#profile > .nested > #contact > .nested #email-key {
  grid-area: email-key;
}
#profile > .nested > #contact > .nested #email-content {
  grid-area: email-content;
}
#profile > .nested > #contact > .nested #mobile-key {
  grid-area: mobile-key;
}
#profile > .nested > #contact > .nested #mobile-content {
  grid-area: mobile-content;
}
#profile > .nested > #contact > .nested #mobility-key {
  grid-area: mobility-key;
}
#profile > .nested > #contact > .nested #mobility-content {
  grid-area: mobility-content;
}
#profile > .nested > #contact > .nested #family-key {
  grid-area: family-key;
}
#profile > .nested > #contact > .nested #family-content {
  grid-area: family-content;
}
#profile > .nested > #contact > .nested > :nth-child(2n+1) {
  text-align: right;
  font-weight: 600;
}
#profile > .nested > #contact > .nested > :nth-child(2n+1)::after {
  content: ": ";
}
#profile > .nested > #contact > .nested > :nth-child(2n) {
  text-align: left;
}
#profile > .nested > #contact > .nested > #mobility-content, #profile > .nested > #contact > .nested > #family-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#profile > .nested > #contact > .nested > #mobility-content > :not(:last-child)::after, #profile > .nested > #contact > .nested > #family-content > :not(:last-child)::after {
  content: ", ";
  margin-left: -5px;
  white-space: pre;
}
#profile > .nested > #interactive .item:hover .button {
  background-color: #E0E0E0;
}
#profile > .nested > #interactive .item:hover .dropdown-content {
  display: block;
}
#profile > .nested > #interactive .dropdown-content {
  display: none;
  margin: auto;
  width: 250px;
  background-color: #F8F8F8;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 10px 5px 10px #EAEAEA;
          box-shadow: 10px 5px 10px #EAEAEA;
}
#profile > .nested > #interactive .dropdown-content a {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  text-align: left;
  text-decoration: none;
  display: block;
}
#profile > .nested > #interactive .dropdown-content a:hover {
  border: none;
  border-radius: 10px;
  background-color: #E0E0E0;
  -webkit-box-shadow: 10px 5px 10px #EAEAEA;
          box-shadow: 10px 5px 10px #EAEAEA;
}
#profile > .nested > #interactive .dropdown-content img.flag {
  padding-left: 25px;
  padding-right: 10px;
}/*# sourceMappingURL=global.css.map */